:host {
  display: block;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 4px;
}

.titulo {
  font-weight: 500;
  font-size: 18pt;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.flex-field {
  flex: 1;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
